<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Kura_Emulator_Linux_Emulator"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="org.eclipse.kura.asset.provider.test"/>
        <setEntry value="org.eclipse.kura.ble.eddystone.provider"/>
        <setEntry value="org.eclipse.kura.ble.ibeacon.provider"/>
        <setEntry value="org.eclipse.kura.ble.provider"/>
        <setEntry value="org.eclipse.kura.camel.test"/>
        <setEntry value="org.eclipse.kura.core.certificates.test"/>
        <setEntry value="org.eclipse.kura.core.cloud.test"/>
        <setEntry value="org.eclipse.kura.core.comm.test"/>
        <setEntry value="org.eclipse.kura.core.configuration.test"/>
        <setEntry value="org.eclipse.kura.core.crypto.test"/>
        <setEntry value="org.eclipse.kura.core.db.test"/>
        <setEntry value="org.eclipse.kura.core.deployment.test"/>
        <setEntry value="org.eclipse.kura.core.net.test"/>
        <setEntry value="org.eclipse.kura.core.ssl.test"/>
        <setEntry value="org.eclipse.kura.core.status.test"/>
        <setEntry value="org.eclipse.kura.core.system.test"/>
        <setEntry value="org.eclipse.kura.core.test"/>
        <setEntry value="org.eclipse.kura.core.testutil"/>
        <setEntry value="org.eclipse.kura.core.util.test"/>
        <setEntry value="org.eclipse.kura.demo.heater"/>
        <setEntry value="org.eclipse.kura.demo.modbus"/>
        <setEntry value="org.eclipse.kura.deployment.agent.test"/>
        <setEntry value="org.eclipse.kura.driver.ble.sensortag.provider"/>
        <setEntry value="org.eclipse.kura.driver.block"/>
        <setEntry value="org.eclipse.kura.driver.block.test"/>
        <setEntry value="org.eclipse.kura.driver.eddystone.provider"/>
        <setEntry value="org.eclipse.kura.driver.gpio.provider"/>
        <setEntry value="org.eclipse.kura.driver.helper.test"/>
        <setEntry value="org.eclipse.kura.driver.ibeacon.provider"/>
        <setEntry value="org.eclipse.kura.emulator.position.test"/>
        <setEntry value="org.eclipse.kura.emulator.watchdog.test"/>
        <setEntry value="org.eclipse.kura.example.beacon"/>
        <setEntry value="org.eclipse.kura.example.beacon.scanner"/>
        <setEntry value="org.eclipse.kura.example.ble.tisensortag"/>
        <setEntry value="org.eclipse.kura.example.ble.tisensortag.test"/>
        <setEntry value="org.eclipse.kura.example.camel.aggregation"/>
        <setEntry value="org.eclipse.kura.example.camel.publisher"/>
        <setEntry value="org.eclipse.kura.example.camel.quickstart"/>
        <setEntry value="org.eclipse.kura.example.can"/>
        <setEntry value="org.eclipse.kura.example.driver.sensehat"/>
        <setEntry value="org.eclipse.kura.example.eddystone.advertiser"/>
        <setEntry value="org.eclipse.kura.example.eddystone.scanner"/>
        <setEntry value="org.eclipse.kura.example.gpio"/>
        <setEntry value="org.eclipse.kura.example.ibeacon.advertiser"/>
        <setEntry value="org.eclipse.kura.example.ibeacon.scanner"/>
        <setEntry value="org.eclipse.kura.example.project"/>
        <setEntry value="org.eclipse.kura.example.publisher"/>
        <setEntry value="org.eclipse.kura.example.serial.publisher"/>
        <setEntry value="org.eclipse.kura.example.testutil"/>
        <setEntry value="org.eclipse.kura.example.wire.math.multiport.provider"/>
        <setEntry value="org.eclipse.kura.example.wire.math.singleport.provider"/>
        <setEntry value="org.eclipse.kura.internal.asset.cloudlet.test"/>
        <setEntry value="org.eclipse.kura.internal.ble.eddystone.test"/>
        <setEntry value="org.eclipse.kura.internal.ble.ibeacon.test"/>
        <setEntry value="org.eclipse.kura.internal.ble.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.ble.sensortag.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.eddystone.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.ibeacon.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.opcua.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.s7plc.test"/>
        <setEntry value="org.eclipse.kura.json.marshaller.unmarshaller.provider.test"/>
        <setEntry value="org.eclipse.kura.linux.bluetooth"/>
        <setEntry value="org.eclipse.kura.linux.clock"/>
        <setEntry value="org.eclipse.kura.linux.clock.test"/>
        <setEntry value="org.eclipse.kura.linux.command"/>
        <setEntry value="org.eclipse.kura.linux.debian.provider"/>
        <setEntry value="org.eclipse.kura.linux.gpio"/>
        <setEntry value="org.eclipse.kura.linux.gpio.test"/>
        <setEntry value="org.eclipse.kura.linux.net.test"/>
        <setEntry value="org.eclipse.kura.linux.position.test"/>
        <setEntry value="org.eclipse.kura.linux.redhat.provider"/>
        <setEntry value="org.eclipse.kura.linux.systemd.provider"/>
        <setEntry value="org.eclipse.kura.linux.sysv.provider"/>
        <setEntry value="org.eclipse.kura.linux.usb.aarch64"/>
        <setEntry value="org.eclipse.kura.linux.usb.armv6hf"/>
        <setEntry value="org.eclipse.kura.linux.usb.test"/>
        <setEntry value="org.eclipse.kura.linux.watchdog.test"/>
        <setEntry value="org.eclipse.kura.net.admin"/>
        <setEntry value="org.eclipse.kura.net.admin.test"/>
        <setEntry value="org.eclipse.kura.protocol.can"/>
        <setEntry value="org.eclipse.kura.protocol.modbus.test"/>
        <setEntry value="org.eclipse.kura.raspberrypi.sensehat"/>
        <setEntry value="org.eclipse.kura.raspberrypi.sensehat.example"/>
        <setEntry value="org.eclipse.kura.rest.asset.provider.test"/>
        <setEntry value="org.eclipse.kura.stress.test"/>
        <setEntry value="org.eclipse.kura.test"/>
        <setEntry value="org.eclipse.kura.util.test"/>
        <setEntry value="org.eclipse.kura.watchdog.criticaltest"/>
        <setEntry value="org.eclipse.kura.wire.component.provider.test"/>
        <setEntry value="org.eclipse.kura.wire.h2db.component.provider.test"/>
        <setEntry value="org.eclipse.kura.wire.script.filter.provider.test"/>
        <setEntry value="org.eclipse.kura.xml.marshaller.unmarshaller.provider.test"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.osgi.service.http.port=8080 -Dkura.have.net.admin=false -Dosgi.configuration.area=/tmp/osgi/framework_storage -Dosgi.clean=true -Dosgi.noShutdown=true -Declipse.ignoreApp=true  -Dorg.eclipse.kura.mode=macosx -Dkura.configuration=file:${project_loc:org.eclipse.kura.emulator}/src/main/resources/kura.properties -Ddpa.configuration=/tmp/kura/dpa.properties -Dlog4j.configurationFile=file:${project_loc:org.eclipse.kura.emulator}/src/main/resources/log4j.xml -Dkura.data=${workspace_loc}/kura/data  -Dkura.snapshots=${workspace_loc}/kura/snapshots -Dorg.eclipse.equinox.http.jetty.customizer.class=org.eclipse.kura.jetty.customizer.KuraJettyCustomizer -Dfelix.fileinstall.dir=${workspace_loc}/kura/load -Dvertx.logger-delegate-factory-class-name=io.vertx.core.logging.Log4j2LogDelegateFactory --add-modules=ALL-SYSTEM"/>
    <booleanAttribute key="pde.generated.config" value="true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.eclipsesource.jaxrs.provider.gson@default:default"/>
        <setEntry value="com.eclipsesource.jaxrs.provider.security@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-annotations@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-databind@default:default"/>
        <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml@default:default"/>
        <setEntry value="com.fasterxml.jackson.module.jackson-module-jaxb-annotations@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava*30.1.1.jre@default:default"/>
        <setEntry value="com.google.protobuf@default:default"/>
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="com.sun.xml.bind.jaxb-osgi@default:default"/>
        <setEntry value="groovy@default:default"/>
        <setEntry value="io.netty.buffer@default:default"/>
        <setEntry value="io.netty.codec-dns@default:default"/>
        <setEntry value="io.netty.codec-http2@default:default"/>
        <setEntry value="io.netty.codec-http@default:default"/>
        <setEntry value="io.netty.codec-mqtt@default:default"/>
        <setEntry value="io.netty.codec-socks@default:default"/>
        <setEntry value="io.netty.codec@default:default"/>
        <setEntry value="io.netty.common@default:default"/>
        <setEntry value="io.netty.handler-proxy@default:default"/>
        <setEntry value="io.netty.handler@default:default"/>
        <setEntry value="io.netty.resolver-dns@default:default"/>
        <setEntry value="io.netty.resolver@default:default"/>
        <setEntry value="io.netty.transport-native-unix-common@default:default"/>
        <setEntry value="io.netty.transport@default:default"/>
        <setEntry value="jakarta.annotation-api@default:default"/>
        <setEntry value="javassist@default:default"/>
        <setEntry value="minimal-json@default:default"/>
        <setEntry value="org.apache.activemq.artemis-mqtt-protocol@default:default"/>
        <setEntry value="org.apache.activemq.artemis-native@default:default"/>
        <setEntry value="org.apache.camel.camel-core-xml@default:default"/>
        <setEntry value="org.apache.camel.camel-core@default:default"/>
        <setEntry value="org.apache.camel.camel-groovy@default:default"/>
        <setEntry value="org.apache.camel.camel-gson@default:default"/>
        <setEntry value="org.apache.camel.camel-http-common@default:default"/>
        <setEntry value="org.apache.camel.camel-jackson@default:default"/>
        <setEntry value="org.apache.camel.camel-servlet@default:default"/>
        <setEntry value="org.apache.camel.camel-spring@default:default"/>
        <setEntry value="org.apache.camel.camel-stream@default:default"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.exec@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.felix.dependencymanager@default:default"/>
        <setEntry value="org.apache.felix.deploymentadmin@default:default"/>
        <setEntry value="org.apache.felix.fileinstall@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.ipojo@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-jms_2.0_spec@default:default"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-json_1.0_spec@default:default"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-jta_1.1_spec@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.apache.logging.log4j.api@default:default"/>
        <setEntry value="org.apache.logging.log4j.core@default:default"/>
        <setEntry value="org.apache.logging.log4j.slf4j-impl@default:default"/>
        <setEntry value="org.apache.qpid.proton-j@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.aopalliance@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.reflections@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-aop@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-beans@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-context@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-core@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-expression@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-tx@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.cm@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:false"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.io@default:default"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.metatype@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.util@default:default"/>
        <setEntry value="org.eclipse.equinox.wireadmin@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.kura.sun.misc@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.paho.client.mqttv3@default:default"/>
        <setEntry value="org.eclipse.soda.dk.comm@default:default"/>
        <setEntry value="org.jboss.logging.jboss-logging@default:default"/>
        <setEntry value="org.usb4java@default:default"/>
        <setEntry value="org.yaml.snakeyaml@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="usb4java-javax@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="com.yofc.iot.yofc-iot-api-comp@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-abplc@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-comp@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-influxdb@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-influxdbv1@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-modbus@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-opcuaserver@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-ot3001@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-visa@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-repack-vertx-db@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-repack-vertx@default:default"/>
        <setEntry value="org.eclipse.kura.ai.triton.server.test@default:false"/>
        <setEntry value="org.eclipse.kura.ai.triton.server@default:default"/>
        <setEntry value="org.eclipse.kura.api@default:default"/>
        <setEntry value="org.eclipse.kura.asset.cloudlet.provider@default:default"/>
        <setEntry value="org.eclipse.kura.asset.helper.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.asset.helper.provider@default:default"/>
        <setEntry value="org.eclipse.kura.asset.provider@default:default"/>
        <setEntry value="org.eclipse.kura.broker.artemis.core@default:default"/>
        <setEntry value="org.eclipse.kura.broker.artemis.simple.mqtt@default:default"/>
        <setEntry value="org.eclipse.kura.broker.artemis.xml@default:default"/>
        <setEntry value="org.eclipse.kura.camel.cloud.factory@default:default"/>
        <setEntry value="org.eclipse.kura.camel.xml@default:default"/>
        <setEntry value="org.eclipse.kura.camel@default:default"/>
        <setEntry value="org.eclipse.kura.cloudconnection.eclipseiot.mqtt.provider@default:default"/>
        <setEntry value="org.eclipse.kura.cloudconnection.raw.mqtt.provider@default:default"/>
        <setEntry value="org.eclipse.kura.configuration.change.manager.test@default:false"/>
        <setEntry value="org.eclipse.kura.configuration.change.manager@default:default"/>
        <setEntry value="org.eclipse.kura.container.orchestration.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.container.orchestration.provider@default:default"/>
        <setEntry value="org.eclipse.kura.container.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.container.provider@default:default"/>
        <setEntry value="org.eclipse.kura.core.certificates@default:default"/>
        <setEntry value="org.eclipse.kura.core.cloud.factory.test@default:false"/>
        <setEntry value="org.eclipse.kura.core.cloud.factory@default:default"/>
        <setEntry value="org.eclipse.kura.core.cloud@default:default"/>
        <setEntry value="org.eclipse.kura.core.comm@default:default"/>
        <setEntry value="org.eclipse.kura.core.configuration@default:default"/>
        <setEntry value="org.eclipse.kura.core.crypto@default:default"/>
        <setEntry value="org.eclipse.kura.core.deployment@default:default"/>
        <setEntry value="org.eclipse.kura.core.inventory.test@default:false"/>
        <setEntry value="org.eclipse.kura.core.inventory@default:default"/>
        <setEntry value="org.eclipse.kura.core.keystore.test@default:false"/>
        <setEntry value="org.eclipse.kura.core.keystore@default:default"/>
        <setEntry value="org.eclipse.kura.core.net@default:default"/>
        <setEntry value="org.eclipse.kura.core.status@default:default"/>
        <setEntry value="org.eclipse.kura.core.system@default:default"/>
        <setEntry value="org.eclipse.kura.core.tamper.detection.test@default:default"/>
        <setEntry value="org.eclipse.kura.core.tamper.detection@default:default"/>
        <setEntry value="org.eclipse.kura.core@default:default"/>
        <setEntry value="org.eclipse.kura.db.sqlite.provider.test@default:default"/>
        <setEntry value="org.eclipse.kura.db.sqlite.provider@default:default"/>
        <setEntry value="org.eclipse.kura.deployment.agent@default:default"/>
        <setEntry value="org.eclipse.kura.docs@default:default"/>
        <setEntry value="org.eclipse.kura.driver.ble.xdk@default:default"/>
        <setEntry value="org.eclipse.kura.driver.helper.provider@default:default"/>
        <setEntry value="org.eclipse.kura.driver.opcua.provider@default:default"/>
        <setEntry value="org.eclipse.kura.driver.s7plc.provider@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.clock@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.gpio@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.net@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.position@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.usb@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.watchdog@default:default"/>
        <setEntry value="org.eclipse.kura.emulator@default:true"/>
        <setEntry value="org.eclipse.kura.event.publisher.test@default:false"/>
        <setEntry value="org.eclipse.kura.event.publisher@default:default"/>
        <setEntry value="org.eclipse.kura.example.ble.tisensortag.dbus.test@default:false"/>
        <setEntry value="org.eclipse.kura.example.ble.tisensortag.dbus@default:default"/>
        <setEntry value="org.eclipse.kura.example.gpio.led@default:default"/>
        <setEntry value="org.eclipse.kura.example.rest.authentication.provider@default:default"/>
        <setEntry value="org.eclipse.kura.example.tamper.detection@default:default"/>
        <setEntry value="org.eclipse.kura.example.web.extension@default:default"/>
        <setEntry value="org.eclipse.kura.example.wire.logic.multiport.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.example.wire.logic.multiport.provider@default:default"/>
        <setEntry value="org.eclipse.kura.example.wire.math.singleport.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.example.wire.math.trig.test@default:false"/>
        <setEntry value="org.eclipse.kura.example.wire.math.trig@default:default"/>
        <setEntry value="org.eclipse.kura.hook.file.move.provider@default:default"/>
        <setEntry value="org.eclipse.kura.http.server.manager.test@default:default"/>
        <setEntry value="org.eclipse.kura.http.server.manager@default:default"/>
        <setEntry value="org.eclipse.kura.jetty.customizer@default:false"/>
        <setEntry value="org.eclipse.kura.json.marshaller.unmarshaller.provider@default:default"/>
        <setEntry value="org.eclipse.kura.linux.net@default:default"/>
        <setEntry value="org.eclipse.kura.linux.position@default:default"/>
        <setEntry value="org.eclipse.kura.linux.usb.x86_64@default:false"/>
        <setEntry value="org.eclipse.kura.linux.usb@default:default"/>
        <setEntry value="org.eclipse.kura.linux.watchdog@default:default"/>
        <setEntry value="org.eclipse.kura.localization.resources@default:false"/>
        <setEntry value="org.eclipse.kura.localization@default:default"/>
        <setEntry value="org.eclipse.kura.log.filesystem.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.log.filesystem.provider@default:default"/>
        <setEntry value="org.eclipse.kura.message.store.provider.test@default:default"/>
        <setEntry value="org.eclipse.kura.misc.cloudcat@default:default"/>
        <setEntry value="org.eclipse.kura.net.admin.firewall.test@default:false"/>
        <setEntry value="org.eclipse.kura.net.admin.firewall@default:default"/>
        <setEntry value="org.eclipse.kura.net.configuration.test@default:false"/>
        <setEntry value="org.eclipse.kura.net.configuration@default:default"/>
        <setEntry value="org.eclipse.kura.network.threat.manager.test@default:false"/>
        <setEntry value="org.eclipse.kura.network.threat.manager@default:default"/>
        <setEntry value="org.eclipse.kura.nm.test@default:false"/>
        <setEntry value="org.eclipse.kura.nm@default:default"/>
        <setEntry value="org.eclipse.kura.protocol.modbus@default:default"/>
        <setEntry value="org.eclipse.kura.request.handler.jaxrs@default:default"/>
        <setEntry value="org.eclipse.kura.rest.asset.provider@default:default"/>
        <setEntry value="org.eclipse.kura.rest.configuration.provider.test@default:default"/>
        <setEntry value="org.eclipse.kura.rest.configuration.provider@default:default"/>
        <setEntry value="org.eclipse.kura.rest.provider.test@default:default"/>
        <setEntry value="org.eclipse.kura.rest.provider@default:default"/>
        <setEntry value="org.eclipse.kura.rest.wire.provider.test@default:default"/>
        <setEntry value="org.eclipse.kura.rest.wire.provider@default:default"/>
        <setEntry value="org.eclipse.kura.stress@default:default"/>
        <setEntry value="org.eclipse.kura.useradmin.store.test@default:default"/>
        <setEntry value="org.eclipse.kura.useradmin.store@default:default"/>
        <setEntry value="org.eclipse.kura.util.test.driver@default:default"/>
        <setEntry value="org.eclipse.kura.util.wire.test@default:default"/>
        <setEntry value="org.eclipse.kura.util@default:default"/>
        <setEntry value="org.eclipse.kura.web2.ext@default:default"/>
        <setEntry value="org.eclipse.kura.web2@default:default"/>
        <setEntry value="org.eclipse.kura.wire.ai.component.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.wire.ai.component.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.camel@default:default"/>
        <setEntry value="org.eclipse.kura.wire.component.conditional.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.component.join.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.component.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.db.component.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.wire.db.component.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.devel.component.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.h2db.component.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.helper.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.provider.test@default:false"/>
        <setEntry value="org.eclipse.kura.wire.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.script.filter.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.script.tools@default:default"/>
        <setEntry value="org.eclipse.kura.xml.marshaller.unmarshaller.provider@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="timestamp" value="1355734261731"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
