<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <setAttribute key="additional_plugins"/>
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Kura_Emulator_OSX_Emulator"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="5"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="com.yofc.iot.yofc-iot-apps-visa"/>
        <setEntry value="org.eclipse.kura.asset.helper.provider.test"/>
        <setEntry value="org.eclipse.kura.asset.provider.test"/>
        <setEntry value="org.eclipse.kura.ble.eddystone.provider"/>
        <setEntry value="org.eclipse.kura.ble.ibeacon.provider"/>
        <setEntry value="org.eclipse.kura.ble.provider"/>
        <setEntry value="org.eclipse.kura.camel.test"/>
        <setEntry value="org.eclipse.kura.container.orchestration.provider.test"/>
        <setEntry value="org.eclipse.kura.core.certificates.test"/>
        <setEntry value="org.eclipse.kura.core.cloud.factory.test"/>
        <setEntry value="org.eclipse.kura.core.cloud.test"/>
        <setEntry value="org.eclipse.kura.core.comm.test"/>
        <setEntry value="org.eclipse.kura.core.configuration.test"/>
        <setEntry value="org.eclipse.kura.core.crypto.test"/>
        <setEntry value="org.eclipse.kura.core.db.test"/>
        <setEntry value="org.eclipse.kura.core.deployment.test"/>
        <setEntry value="org.eclipse.kura.core.inventory.test"/>
        <setEntry value="org.eclipse.kura.core.keystore.test"/>
        <setEntry value="org.eclipse.kura.core.net.test"/>
        <setEntry value="org.eclipse.kura.core.ssl.test"/>
        <setEntry value="org.eclipse.kura.core.status.test"/>
        <setEntry value="org.eclipse.kura.core.system.test"/>
        <setEntry value="org.eclipse.kura.core.tamper.detection.test"/>
        <setEntry value="org.eclipse.kura.core.test"/>
        <setEntry value="org.eclipse.kura.core.testutil"/>
        <setEntry value="org.eclipse.kura.core.util.test"/>
        <setEntry value="org.eclipse.kura.demo.heater"/>
        <setEntry value="org.eclipse.kura.demo.modbus"/>
        <setEntry value="org.eclipse.kura.deployment.agent.test"/>
        <setEntry value="org.eclipse.kura.driver.ble.sensortag.provider"/>
        <setEntry value="org.eclipse.kura.driver.block"/>
        <setEntry value="org.eclipse.kura.driver.block.test"/>
        <setEntry value="org.eclipse.kura.driver.eddystone.provider"/>
        <setEntry value="org.eclipse.kura.driver.gpio.provider"/>
        <setEntry value="org.eclipse.kura.driver.helper.test"/>
        <setEntry value="org.eclipse.kura.driver.ibeacon.provider"/>
        <setEntry value="org.eclipse.kura.emulator.clock"/>
        <setEntry value="org.eclipse.kura.emulator.gpio"/>
        <setEntry value="org.eclipse.kura.emulator.position.test"/>
        <setEntry value="org.eclipse.kura.emulator.watchdog.test"/>
        <setEntry value="org.eclipse.kura.example.beacon"/>
        <setEntry value="org.eclipse.kura.example.beacon.scanner"/>
        <setEntry value="org.eclipse.kura.example.ble.tisensortag"/>
        <setEntry value="org.eclipse.kura.example.ble.tisensortag.test"/>
        <setEntry value="org.eclipse.kura.example.camel.aggregation"/>
        <setEntry value="org.eclipse.kura.example.camel.publisher"/>
        <setEntry value="org.eclipse.kura.example.camel.quickstart"/>
        <setEntry value="org.eclipse.kura.example.can"/>
        <setEntry value="org.eclipse.kura.example.driver.sensehat"/>
        <setEntry value="org.eclipse.kura.example.eddystone.advertiser"/>
        <setEntry value="org.eclipse.kura.example.eddystone.scanner"/>
        <setEntry value="org.eclipse.kura.example.gpio"/>
        <setEntry value="org.eclipse.kura.example.gpio.led"/>
        <setEntry value="org.eclipse.kura.example.ibeacon.advertiser"/>
        <setEntry value="org.eclipse.kura.example.ibeacon.scanner"/>
        <setEntry value="org.eclipse.kura.example.project"/>
        <setEntry value="org.eclipse.kura.example.publisher"/>
        <setEntry value="org.eclipse.kura.example.serial.publisher"/>
        <setEntry value="org.eclipse.kura.example.testutil"/>
        <setEntry value="org.eclipse.kura.example.web.extension"/>
        <setEntry value="org.eclipse.kura.example.wire.logic.multiport.provider.test"/>
        <setEntry value="org.eclipse.kura.example.wire.math.multiport.provider"/>
        <setEntry value="org.eclipse.kura.example.wire.math.singleport.provider"/>
        <setEntry value="org.eclipse.kura.example.wire.math.singleport.provider.test"/>
        <setEntry value="org.eclipse.kura.example.wire.math.trig.test"/>
        <setEntry value="org.eclipse.kura.http.server.manager.test"/>
        <setEntry value="org.eclipse.kura.internal.asset.cloudlet.test"/>
        <setEntry value="org.eclipse.kura.internal.ble.eddystone.test"/>
        <setEntry value="org.eclipse.kura.internal.ble.ibeacon.test"/>
        <setEntry value="org.eclipse.kura.internal.ble.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.ble.sensortag.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.eddystone.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.ibeacon.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.opcua.test"/>
        <setEntry value="org.eclipse.kura.internal.driver.s7plc.test"/>
        <setEntry value="org.eclipse.kura.json.marshaller.unmarshaller.provider.test"/>
        <setEntry value="org.eclipse.kura.linux.bluetooth"/>
        <setEntry value="org.eclipse.kura.linux.clock"/>
        <setEntry value="org.eclipse.kura.linux.clock.test"/>
        <setEntry value="org.eclipse.kura.linux.command"/>
        <setEntry value="org.eclipse.kura.linux.debian.provider"/>
        <setEntry value="org.eclipse.kura.linux.gpio"/>
        <setEntry value="org.eclipse.kura.linux.gpio.test"/>
        <setEntry value="org.eclipse.kura.linux.net"/>
        <setEntry value="org.eclipse.kura.linux.net.test"/>
        <setEntry value="org.eclipse.kura.linux.position"/>
        <setEntry value="org.eclipse.kura.linux.position.test"/>
        <setEntry value="org.eclipse.kura.linux.redhat.provider"/>
        <setEntry value="org.eclipse.kura.linux.systemd.provider"/>
        <setEntry value="org.eclipse.kura.linux.sysv.provider"/>
        <setEntry value="org.eclipse.kura.linux.usb"/>
        <setEntry value="org.eclipse.kura.linux.usb.aarch64"/>
        <setEntry value="org.eclipse.kura.linux.usb.armv6hf"/>
        <setEntry value="org.eclipse.kura.linux.usb.test"/>
        <setEntry value="org.eclipse.kura.linux.usb.x86_64"/>
        <setEntry value="org.eclipse.kura.linux.watchdog"/>
        <setEntry value="org.eclipse.kura.linux.watchdog.test"/>
        <setEntry value="org.eclipse.kura.localization"/>
        <setEntry value="org.eclipse.kura.localization.resources"/>
        <setEntry value="org.eclipse.kura.log.filesystem.provider.test"/>
        <setEntry value="org.eclipse.kura.net.admin"/>
        <setEntry value="org.eclipse.kura.net.admin.test"/>
        <setEntry value="org.eclipse.kura.network.threat.manager"/>
        <setEntry value="org.eclipse.kura.network.threat.manager.test"/>
        <setEntry value="org.eclipse.kura.protocol.can"/>
        <setEntry value="org.eclipse.kura.protocol.modbus.test"/>
        <setEntry value="org.eclipse.kura.raspberrypi.sensehat"/>
        <setEntry value="org.eclipse.kura.raspberrypi.sensehat.example"/>
        <setEntry value="org.eclipse.kura.rest.asset.provider.test"/>
        <setEntry value="org.eclipse.kura.rest.configuration.provider.test"/>
        <setEntry value="org.eclipse.kura.rest.wire.provider.test"/>
        <setEntry value="org.eclipse.kura.stress"/>
        <setEntry value="org.eclipse.kura.stress.test"/>
        <setEntry value="org.eclipse.kura.test"/>
        <setEntry value="org.eclipse.kura.useradmin.store.test"/>
        <setEntry value="org.eclipse.kura.util.test"/>
        <setEntry value="org.eclipse.kura.util.test.driver"/>
        <setEntry value="org.eclipse.kura.util.wire.test"/>
        <setEntry value="org.eclipse.kura.watchdog.criticaltest"/>
        <setEntry value="org.eclipse.kura.wire.component.provider.test"/>
        <setEntry value="org.eclipse.kura.wire.h2db.component.provider.test"/>
        <setEntry value="org.eclipse.kura.wire.provider.test"/>
        <setEntry value="org.eclipse.kura.wire.script.filter.provider.test"/>
        <setEntry value="org.eclipse.kura.xml.marshaller.unmarshaller.provider.test"/>
    </setAttribute>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.osgi.service.http.port=8080 &#10;-Dkura.have.net.admin=false&#10;-Dosgi.configuration.area=/tmp/osgi/framework_storage &#10;-Dosgi.clean=true &#10;-Dosgi.noShutdown=true&#10;-Declipse.ignoreApp=true &#10;-Dorg.eclipse.kura.mode=macosx &#10;-Dkura.configuration=file:${project_loc:org.eclipse.kura.emulator}/src/main/resources/kura.properties &#10;-Ddpa.configuration=/tmp/kura/dpa.properties &#10;-Dlog4j.configurationFile=file:${project_loc:org.eclipse.kura.emulator}/src/main/resources/log4j.xml &#10;-Dkura.data=${workspace_loc}/kura/data  &#10;-Dkura.snapshots=${workspace_loc}/kura/snapshots&#10;-Dorg.eclipse.equinox.http.jetty.customizer.class=org.eclipse.kura.jetty.customizer.KuraJettyCustomizer &#10;-Dfelix.fileinstall.dir=${workspace_loc}/kura/load &#10;--add-opens java.base/jdk.internal.misc=ALL-UNNAMED&#10;-Dio.netty.tryReflectionSetAccessible=true"/>
    <booleanAttribute key="pde.generated.config" value="true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_features">
        <setEntry value="org.eclipse.kura.api.feature:default"/>
        <setEntry value="org.eclipse.kura.camel.feature:default"/>
        <setEntry value="org.eclipse.kura.driver.ble.sensortag:default"/>
        <setEntry value="org.eclipse.kura.driver.eddystone:default"/>
        <setEntry value="org.eclipse.kura.driver.gpio:default"/>
        <setEntry value="org.eclipse.kura.driver.ibeacon:default"/>
        <setEntry value="org.eclipse.kura.driver.opcua:default"/>
        <setEntry value="org.eclipse.kura.driver.s7plc:default"/>
        <setEntry value="org.eclipse.kura.raspberrypi.sensehat.example.bundle:default"/>
        <setEntry value="org.eclipse.kura.runtime.feature:default"/>
        <setEntry value="org.eclipse.kura.wire.script.filter:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcpkix@default:default"/>
        <setEntry value="bcprov@default:default"/>
        <setEntry value="bcutil@default:default"/>
        <setEntry value="com.alibaba.fastjson@default:default"/>
        <setEntry value="com.digitalpetri.fsm.strict-machine@default:default"/>
        <setEntry value="com.digitalpetri.netty.channel-fsm@default:default"/>
        <setEntry value="com.eclipsesource.jaxrs.provider.gson@default:default"/>
        <setEntry value="com.eclipsesource.jaxrs.provider.security@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-annotations@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-databind@default:default"/>
        <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml@default:default"/>
        <setEntry value="com.fasterxml.jackson.module.jackson-module-jaxb-annotations@default:default"/>
        <setEntry value="com.fazecast.jSerialComm@default:default"/>
        <setEntry value="com.github.jinahya.bit-io@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava*30.1.1.jre@default:default"/>
        <setEntry value="com.google.guava*31.0.1.jre@default:default"/>
        <setEntry value="com.google.guava.failureaccess@default:default"/>
        <setEntry value="com.google.gwt.user@default:default"/>
        <setEntry value="com.google.protobuf@default:default"/>
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="com.sun.xml.bind.jaxb-osgi@default:default"/>
        <setEntry value="groovy-datetime@default:false"/>
        <setEntry value="groovy-dateutil@default:false"/>
        <setEntry value="groovy-json@default:false"/>
        <setEntry value="groovy-jsr223@default:false"/>
        <setEntry value="groovy-sql@default:false"/>
        <setEntry value="groovy-templates@default:false"/>
        <setEntry value="groovy-xml@default:false"/>
        <setEntry value="groovy@default:default"/>
        <setEntry value="io.netty.buffer@default:default"/>
        <setEntry value="io.netty.codec-dns@default:default"/>
        <setEntry value="io.netty.codec-http2@default:default"/>
        <setEntry value="io.netty.codec-http@default:default"/>
        <setEntry value="io.netty.codec-mqtt@default:default"/>
        <setEntry value="io.netty.codec-socks@default:default"/>
        <setEntry value="io.netty.codec@default:default"/>
        <setEntry value="io.netty.common@default:default"/>
        <setEntry value="io.netty.handler-proxy@default:default"/>
        <setEntry value="io.netty.handler@default:default"/>
        <setEntry value="io.netty.resolver-dns-native-macos@default:default"/>
        <setEntry value="io.netty.resolver-dns@default:default"/>
        <setEntry value="io.netty.resolver@default:default"/>
        <setEntry value="io.netty.tcnative-classes@default:default"/>
        <setEntry value="io.netty.transport-classes-epoll@default:default"/>
        <setEntry value="io.netty.transport-classes-kqueue@default:default"/>
        <setEntry value="io.netty.transport-native-unix-common@default:default"/>
        <setEntry value="io.netty.transport@default:default"/>
        <setEntry value="io.vavr@default:default"/>
        <setEntry value="jakarta.activation-api@default:default"/>
        <setEntry value="jakarta.annotation-api@default:default"/>
        <setEntry value="jakarta.enterprise.cdi-api@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api@default:default"/>
        <setEntry value="jakarta.interceptor-api@default:default"/>
        <setEntry value="jakarta.json-api@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="jakarta.transaction-api@default:default"/>
        <setEntry value="jakarta.validation.jakarta.validation-api@default:default"/>
        <setEntry value="jakarta.ws.rs-api@default:default"/>
        <setEntry value="jakarta.xml.bind-api@default:default"/>
        <setEntry value="jakarta.xml.soap-api@default:default"/>
        <setEntry value="jakarta.xml.ws-api@default:default"/>
        <setEntry value="javassist@default:default"/>
        <setEntry value="javax.el-api@default:default"/>
        <setEntry value="jcl.over.slf4j@default:default"/>
        <setEntry value="minimal-json@default:default"/>
        <setEntry value="org.apache.activemq.artemis-amqp-protocol@default:default"/>
        <setEntry value="org.apache.activemq.artemis-mqtt-protocol@default:default"/>
        <setEntry value="org.apache.activemq.artemis-native@default:default"/>
        <setEntry value="org.apache.activemq.artemis-quorum-api@default:default"/>
        <setEntry value="org.apache.activemq.artemis-server-osgi@default:default"/>
        <setEntry value="org.apache.activemq.artemis-stomp-protocol@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@1:default"/>
        <setEntry value="org.apache.camel.camel-amqp@default:default"/>
        <setEntry value="org.apache.camel.camel-api@default:default"/>
        <setEntry value="org.apache.camel.camel-attachments@default:default"/>
        <setEntry value="org.apache.camel.camel-base-engine@default:default"/>
        <setEntry value="org.apache.camel.camel-base@default:default"/>
        <setEntry value="org.apache.camel.camel-bean@default:default"/>
        <setEntry value="org.apache.camel.camel-cloud@default:default"/>
        <setEntry value="org.apache.camel.camel-cluster@default:default"/>
        <setEntry value="org.apache.camel.camel-core-engine@default:default"/>
        <setEntry value="org.apache.camel.camel-core-languages@4:default"/>
        <setEntry value="org.apache.camel.camel-core-model@default:default"/>
        <setEntry value="org.apache.camel.camel-core-processor@default:default"/>
        <setEntry value="org.apache.camel.camel-core-reifier@default:default"/>
        <setEntry value="org.apache.camel.camel-core-xml@default:default"/>
        <setEntry value="org.apache.camel.camel-core@default:default"/>
        <setEntry value="org.apache.camel.camel-dsl-support@default:default"/>
        <setEntry value="org.apache.camel.camel-endpointdsl-support@default:default"/>
        <setEntry value="org.apache.camel.camel-endpointdsl@default:default"/>
        <setEntry value="org.apache.camel.camel-file@default:default"/>
        <setEntry value="org.apache.camel.camel-groovy@default:default"/>
        <setEntry value="org.apache.camel.camel-gson@default:default"/>
        <setEntry value="org.apache.camel.camel-http-base@default:default"/>
        <setEntry value="org.apache.camel.camel-http-common@default:default"/>
        <setEntry value="org.apache.camel.camel-http@default:default"/>
        <setEntry value="org.apache.camel.camel-jackson@default:default"/>
        <setEntry value="org.apache.camel.camel-jms@default:default"/>
        <setEntry value="org.apache.camel.camel-log@default:default"/>
        <setEntry value="org.apache.camel.camel-management-api@default:default"/>
        <setEntry value="org.apache.camel.camel-seda@default:default"/>
        <setEntry value="org.apache.camel.camel-servlet@default:default"/>
        <setEntry value="org.apache.camel.camel-spring-xml@default:default"/>
        <setEntry value="org.apache.camel.camel-spring@default:default"/>
        <setEntry value="org.apache.camel.camel-stream@default:default"/>
        <setEntry value="org.apache.camel.camel-support@default:default"/>
        <setEntry value="org.apache.camel.camel-timer@default:default"/>
        <setEntry value="org.apache.camel.camel-util@default:default"/>
        <setEntry value="org.apache.camel.camel-xml-io-dsl@default:default"/>
        <setEntry value="org.apache.camel.camel-xml-io-util@default:default"/>
        <setEntry value="org.apache.camel.camel-xml-io@default:default"/>
        <setEntry value="org.apache.camel.camel-xml-jaxb@default:default"/>
        <setEntry value="org.apache.camel.camel-xml-jaxp@default:default"/>
        <setEntry value="org.apache.camel.karaf.camel-core-osgi@2:default"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.commons-beanutils@default:default"/>
        <setEntry value="org.apache.commons.commons-codec@default:default"/>
        <setEntry value="org.apache.commons.commons-compress@default:default"/>
        <setEntry value="org.apache.commons.commons-configuration2@default:default"/>
        <setEntry value="org.apache.commons.commons-csv@default:default"/>
        <setEntry value="org.apache.commons.commons-fileupload@default:default"/>
        <setEntry value="org.apache.commons.commons-io@default:default"/>
        <setEntry value="org.apache.commons.commons-net@default:default"/>
        <setEntry value="org.apache.commons.commons-pool2@default:default"/>
        <setEntry value="org.apache.commons.commons-text@default:default"/>
        <setEntry value="org.apache.commons.exec@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.pool@default:default"/>
        <setEntry value="org.apache.felix.dependencymanager@default:default"/>
        <setEntry value="org.apache.felix.deploymentadmin@default:default"/>
        <setEntry value="org.apache.felix.fileinstall@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.felix.useradmin@default:default"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-jms_2.0_spec@default:default"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-json_1.0_spec@default:default"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-jta_1.1_spec@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.apache.johnzon.core@default:default"/>
        <setEntry value="org.apache.log4j2-api-config@default:false"/>
        <setEntry value="org.apache.logging.log4j.api@default:default"/>
        <setEntry value="org.apache.logging.log4j.core@default:default"/>
        <setEntry value="org.apache.logging.log4j.jcl@default:default"/>
        <setEntry value="org.apache.logging.log4j.jul@default:false"/>
        <setEntry value="org.apache.logging.log4j.slf4j-impl@default:default"/>
        <setEntry value="org.apache.qpid.jms.client@default:default"/>
        <setEntry value="org.apache.qpid.proton-j@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.aopalliance@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.reflections@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-aop@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-beans@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-context@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-core@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-expression@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-jms@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.spring-tx@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.cm@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:false"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.io@default:default"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.metatype@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.util@default:default"/>
        <setEntry value="org.eclipse.equinox.wireadmin@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.servlets@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.kura.sun.misc@default:false"/>
        <setEntry value="org.eclipse.milo.bsd-core@default:default"/>
        <setEntry value="org.eclipse.milo.bsd-generator@default:default"/>
        <setEntry value="org.eclipse.milo.dictionary-manager@default:default"/>
        <setEntry value="org.eclipse.milo.sdk-client@default:default"/>
        <setEntry value="org.eclipse.milo.sdk-core@default:default"/>
        <setEntry value="org.eclipse.milo.sdk-server@default:default"/>
        <setEntry value="org.eclipse.milo.stack-client@default:default"/>
        <setEntry value="org.eclipse.milo.stack-core@default:default"/>
        <setEntry value="org.eclipse.milo.stack-server@default:default"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.paho.client.mqttv3@default:default"/>
        <setEntry value="org.eclipse.paho.mqttv5.client@default:default"/>
        <setEntry value="org.eclipse.soda.dk.comm@default:default"/>
        <setEntry value="org.glassfish.hk2.api@default:default"/>
        <setEntry value="org.glassfish.hk2.external.aopalliance-repackaged@default:default"/>
        <setEntry value="org.glassfish.hk2.locator@default:default"/>
        <setEntry value="org.glassfish.hk2.osgi-resource-locator@default:default"/>
        <setEntry value="org.glassfish.hk2.utils@default:default"/>
        <setEntry value="org.glassfish.jersey.containers.jersey-container-servlet-core@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-client@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-common@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-server@default:default"/>
        <setEntry value="org.glassfish.jersey.inject.jersey-hk2@default:default"/>
        <setEntry value="org.glassfish.jersey.media.jersey-media-multipart@default:default"/>
        <setEntry value="org.glassfish.jersey.media.jersey-media-sse@default:default"/>
        <setEntry value="org.graalvm.js.scriptengine@default:default"/>
        <setEntry value="org.graalvm.js@default:default"/>
        <setEntry value="org.graalvm.regex@default:default"/>
        <setEntry value="org.graalvm.sdk.graal-sdk@default:default"/>
        <setEntry value="org.graalvm.truffle.api@default:default"/>
        <setEntry value="org.gwtbootstrap3@default:default"/>
        <setEntry value="org.jboss.logging.jboss-logging@default:default"/>
        <setEntry value="org.jctools.core@default:default"/>
        <setEntry value="org.jgroups@default:default"/>
        <setEntry value="org.jvnet.mimepull@default:default"/>
        <setEntry value="org.objectweb.asm.commons@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.pcap4j.core@default:default"/>
        <setEntry value="org.quartz-scheduler.quartz@default:default"/>
        <setEntry value="org.yaml.snakeyaml@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="tel.schich.javacan@default:default"/>
        <setEntry value="usb4java-javax@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="com.yofc.iot.yofc-iot-api-comp@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-abplc@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-comp@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-influxdb@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-influxdbv1@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-modbus@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-opcuaserver@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-apps-serial@default:default"/>
        <setEntry value="com.yofc.iot.yofc-iot-repack-vertx@default:default"/>
        <setEntry value="org.eclipse.kura.api@default:default"/>
        <setEntry value="org.eclipse.kura.asset.cloudlet.provider@default:default"/>
        <setEntry value="org.eclipse.kura.asset.helper.provider@default:default"/>
        <setEntry value="org.eclipse.kura.asset.provider@default:default"/>
        <setEntry value="org.eclipse.kura.broker.artemis.core@default:default"/>
        <setEntry value="org.eclipse.kura.broker.artemis.simple.mqtt@default:default"/>
        <setEntry value="org.eclipse.kura.broker.artemis.xml@default:default"/>
        <setEntry value="org.eclipse.kura.camel.cloud.factory@default:default"/>
        <setEntry value="org.eclipse.kura.camel.xml@default:default"/>
        <setEntry value="org.eclipse.kura.camel@default:default"/>
        <setEntry value="org.eclipse.kura.cloudconnection.eclipseiot.mqtt.provider@default:default"/>
        <setEntry value="org.eclipse.kura.cloudconnection.raw.mqtt.provider@default:default"/>
        <setEntry value="org.eclipse.kura.container.orchestration.provider@default:default"/>
        <setEntry value="org.eclipse.kura.core.certificates@default:default"/>
        <setEntry value="org.eclipse.kura.core.cloud.factory@default:default"/>
        <setEntry value="org.eclipse.kura.core.cloud@default:default"/>
        <setEntry value="org.eclipse.kura.core.comm@default:default"/>
        <setEntry value="org.eclipse.kura.core.configuration@default:default"/>
        <setEntry value="org.eclipse.kura.core.crypto@default:default"/>
        <setEntry value="org.eclipse.kura.core.deployment@default:default"/>
        <setEntry value="org.eclipse.kura.core.inventory@default:default"/>
        <setEntry value="org.eclipse.kura.core.keystore@default:default"/>
        <setEntry value="org.eclipse.kura.core.net@default:default"/>
        <setEntry value="org.eclipse.kura.core.status@default:default"/>
        <setEntry value="org.eclipse.kura.core.system@default:default"/>
        <setEntry value="org.eclipse.kura.core.tamper.detection@default:default"/>
        <setEntry value="org.eclipse.kura.core@default:default"/>
        <setEntry value="org.eclipse.kura.deployment.agent@default:default"/>
        <setEntry value="org.eclipse.kura.docs@default:default"/>
        <setEntry value="org.eclipse.kura.driver.ble.xdk@default:default"/>
        <setEntry value="org.eclipse.kura.driver.helper.provider@default:default"/>
        <setEntry value="org.eclipse.kura.driver.opcua.provider@default:default"/>
        <setEntry value="org.eclipse.kura.driver.s7plc.provider@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.net@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.position@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.usb@default:default"/>
        <setEntry value="org.eclipse.kura.emulator.watchdog@default:default"/>
        <setEntry value="org.eclipse.kura.emulator@default:default"/>
        <setEntry value="org.eclipse.kura.example.wire.logic.multiport.provider@default:default"/>
        <setEntry value="org.eclipse.kura.example.wire.math.trig@default:default"/>
        <setEntry value="org.eclipse.kura.hook.file.move.provider@default:default"/>
        <setEntry value="org.eclipse.kura.http.server.manager@default:default"/>
        <setEntry value="org.eclipse.kura.jetty.customizer@default:false"/>
        <setEntry value="org.eclipse.kura.json.marshaller.unmarshaller.provider@default:default"/>
        <setEntry value="org.eclipse.kura.log.filesystem.provider@default:default"/>
        <setEntry value="org.eclipse.kura.misc.cloudcat@default:default"/>
        <setEntry value="org.eclipse.kura.protocol.modbus@default:default"/>
        <setEntry value="org.eclipse.kura.request.handler.jaxrs@default:default"/>
        <setEntry value="org.eclipse.kura.rest.asset.provider@default:default"/>
        <setEntry value="org.eclipse.kura.rest.configuration.provider@default:default"/>
        <setEntry value="org.eclipse.kura.rest.provider@default:default"/>
        <setEntry value="org.eclipse.kura.rest.wire.provider@default:default"/>
        <setEntry value="org.eclipse.kura.useradmin.store@default:default"/>
        <setEntry value="org.eclipse.kura.util@default:default"/>
        <setEntry value="org.eclipse.kura.web2.ext@default:default"/>
        <setEntry value="org.eclipse.kura.web2@default:default"/>
        <setEntry value="org.eclipse.kura.wire.camel@default:default"/>
        <setEntry value="org.eclipse.kura.wire.component.conditional.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.component.join.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.component.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.devel.component.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.h2db.component.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.helper.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.provider@default:default"/>
        <setEntry value="org.eclipse.kura.wire.script.filter.provider@default:default"/>
        <setEntry value="org.eclipse.kura.xml.marshaller.unmarshaller.provider@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="timestamp" value="1360341874060"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
